body {
  font-family: consolas;
  font-size: 1.5vw;
}

#container {
  width: 60em;
  overflow: hidden;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#computers {
  background-color: #EEE;
  padding: 1em;
  width: 100%;
  border: 0.25em solid black;
  border-spacing: 0.25vw;
}

#description {
  float: left;
  margin-top: 1em;
  padding: 1em;
  width: 32em;
  background-color: #EEE;
  border: 0.25em solid black;
}

#legend {
  float: right;
  padding: 1em;
  width: 17em;
  background-color: #EEE;
  border: 0.25em solid black;
}

td a {
  display: block;
  width: 100%;
}

.pc {
  width: 3em;
  height: 3em;
  text-align: center;
  font-family: consolas;
  color: white;
  cursor: pointer;
}

.pc.open {
  background-color: #0A0;
}

.pc.active {
  background-color: #770;
}

.pc.closed {
  background-color: #F00;
}

.pc.inactive {
  background-color: gray;
  cursor: default;
}

.timer {
  pointer-events: none;
}
